/* roboto: sub headings all caps, main copy */
/* dancing script: headings */
/* alice: main title */

@font-face {
  font-family: "Alice";
  src: url("/fonts/Alice/Alice-Regular.ttf");
}

@font-face {
  font-family: "DancingScript";
  src: url("/fonts/DancingScript/DancingScript-Regular.ttf");
  src: url("/fonts/DancingScript/DancingScript-Bold.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Bold.ttf");
}

:root { 
  --background: #FEFEFE;
  --font: #160300;
  --accent: #E9C696;
  --accent-dark: #8B765A;
  --accent-dark-2: #372f24;
  --accent-hover: #ddb16f;
  --spacing-1: 10px;
  --spacing-2: 15px;
  --spacing-3: 20px;
}

/***** Global *****/
html {
  background-color: var(--background);
  color: var(--font);
  position: relative;
  font-family: 'Roboto';
}

body {
  margin: 0;
}

main {
  padding-top: calc(75px - (var(--spacing-1)));
  padding-bottom: 65px;
}

h1 {
  font-family: 'DancingScript';
}

h1, h2, h3, h4, h5, h6, p {
  margin: var(--spacing-1);
  margin-bottom: var(--spacing-2);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.img-round {
  border-radius: 50%;
}
