.button {
  border-radius: 5px;
  text-decoration: none;
  padding: 5px 10px;
}

.primary {
  color: var(--font);
  background-color: var(--accent);
}

.primary:hover {
  background-color: var(--accent-hover);
}
